.header {
    max-height: 140px;
    display: flex;
    padding: 16px 24px 16px 24px;
    flex-direction: column;
}

.header-content {
    display: flex;
    gap: 24px;
}

.header-menu-btn {
    background-color: #1551E5;
    padding: 12px 24px 12px 24px;
    border-radius: 8px;
    border-color: transparent;
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.header-input-div {
    width: 50%;
    position: relative;
}

.header-input {
    padding: 8px 12px 8px 16px;
    width: 100%;
    border: 1px solid #E1E5EB;
    border-radius: 8px;
    height: 30px;
}

.header-input-icons {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    left: 93%;
    top: 20%;
}

.header-icons {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
    gap: 12px;
}

.header-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 148px;
    height: 48px;
    border-radius: 8px;
    gap: 12px;
    background-color: #F2F6FF;
}

.header-price {
    color: #1551E5;
    font-size: 14px;
    font-weight: 700;
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 14px
}

.header-profile-name {
    font-size: 14px;
    font-weight: 400;
    color: #071435;
    width: 81px;
}

.header-services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    height: 56px;
    border-top: 2px solid #F0F3FC;
    border-bottom: 2px solid #F0F3FC;
}

.header-services-links {
    display: flex;
    gap: 24px;
}

.header-services-link {
    color: #071435;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.header-services-link:visited {
    color: #071435;
}

.header-info {
    display: flex;
    align-items: center;
}

.header-info-box {
    display: flex;
    padding: 8px 12px 8px 12px;
    height: 32px;
    background-color: #F2F6FF;
    border-radius: 4px;
    gap: 8px;
    align-items: center;
}

.header-info-text {
    color: #1551E5;
    font-size: 14px;
}

.header-info-box2 {
    display: flex;
    align-items: center;
    padding: 8px 12px 8px 12px;
    gap: 16px;
}