.main-content {
    padding: 32px 24px 32px 24px;
}

.categories {
    display: flex;
    gap: 0.4vw;
    align-items: center;
}

.categories-text {
    color: #828EAD;
    font-size: 12px;
}

.category-span {
    color: #828EAD;
}

.main-content-title {
    font-size: 32px;
    color: #071435;
}

.main-content-body {
    display: flex;
    gap: 3.8vw;
    border-bottom: 2px solid #E2E4F0;
    padding-bottom: 24px;
}

.main-content-imgs {
    display: flex;
    width: 400px;
    height: 64px;
    gap: 0.9vw;
}

.content-body-charactiristics {
    display: flex;
    gap: 3.6vw;
}

.main-content-body-info {
    padding: 24px 0px 0px 0px;
}

.body-info-order {
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
    border-bottom: 2px solid #E2E4F0;
    padding-bottom: 32px;
}

.body-info-order-promotion {
    display: flex;
}

.body-info-order-text {
    color: #FF3D71;
    font-size: 14px;
    font-weight: 500;
}

.body-info-order-price {
    display: flex;
    gap: 1.1vw;
    align-items: center;
    height: 22px;
}

.body-info-order-price-text {
    font-size: 32px;
    font-weight: 700;
    color: #071435;
}

.quantity-div {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.quantity {
    background-color: #F2F5F9;
    padding: 8px;
    border-radius: 8px;
    width: 111px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-text {
    font-size: 14px;
    color: #828EAD;
    font-weight: 700;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #1551E5;
}

input:focus+.slider {
    box-shadow: 0 0 1px #1551E5;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 32px;
}

.slider.round:before {
    border-radius: 50%;
}

.label-text {
    color: #071435;
    font-size: 14px;
    font-weight: 500;
}

.main-content-delivery {
    display: flex;
    align-items: center;
    gap: 1.2vw;
    padding-top: 24px;
}

.main-content-delivery-item {
    height: 40px;
    width: 113px;
}

.delivery-item {
    color: #071435;
    font-size: 14px;
    font-weight: 700;
}

.delivery-text {
    color: #828EAD;
    font-size: 12px;
    font-weight: 400;
}

.main-content-body-to-cart {
    display: flex;
    align-items: center;
    padding-top: 40px;
    gap: 1.7vw;
}

.btn-to-cart {
    gap: 12px;
    background-color: #1551E5;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 284px;
    height: 56px;
    cursor: pointer;
}

.content-product-info {
    display: flex;
    flex-direction: column;
    gap: 3.8vw;
}

.main-content-characteristics {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 24px;
    border-left: 2px solid #E2E4F0;
    min-width: 410px;
}

.main-content-charac-title {
    font-size: 20px;
    font-weight: 500;
    color: #071435;
}

.characteristics-items {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-text {
    color: #071435;
    font-size: 14px;
    font-weight: 700;
}

.item-text2 {
    font-size: 12px;
    font-weight: 400;
    color: #828EAD;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-text-title {
    color: #071435;
    font-size: 24px;
    font-weight: 500;
}

.product-text {
    color: #071435;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}